@import "~sass/lib";

:host {
  @extend %app-defaults;
}

body, html {
  height: 100%;
}

.header {
  text-align: center;
  z-index: 1000;
  position: fixed;
  height: auto;
  width: 100%;
  background-color: #9cabe6;
  padding-top: 3px;
}

.parallax {
  /* The image used */
  background-image: url('https://www.w3schools.com/howto/img_parallax.jpg');

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
